<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="home">
<head>
    <title>Villes - Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3">
        <div class="row ">
            <div class="col-md-12">
                <div class="card" style="border-radius: 25px">
                    <div class="card-body">
                        <h5 class="display-4 mx-4 mb-4">Villes</h5>
                        <hr class="mb-5"/>
                        <form class="form-inline" th:action="@{cities}" method="get">
                            <input class="form-control mr-sm-2" type="text" name="name" style="border-radius: 25px"
                                   th:value="${name}" placeholder="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="border-radius: 25px"
                                    type="submit">
                                Chercher
                            </button>
                            <label style="margin-left: 2mm; font-weight: bold">Nb. Villes : </label>
                            <label style="margin-left: 4mm; " th:text="${result}"></label>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" style="border-radius: 20px" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Tarifs</th>
                                </tr>
                                <tr th:each="v:${villeList}">
                                    <td th:text="${v.id}"></td>
                                    <td th:text="${v.name}"></td>
                                    <td th:text="${v.tarif}"></td>
                                    <td>
                                        <form th:action="@{deleteCity}" method="post">
                                            <input type="hidden" name="id" th:value="${v.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="name" th:value="${name}"/>
                                            <input type="hidden" name="size" th:value="${size}"/>
                                            <button type="submit" style="border-radius: 25px"
                                                    class="btn btn-outline-danger">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <a th:href="@{editCity(id=${v.id})}" style="border-radius: 25px"
                                           class="btn btn-outline-warning">Update</a>
                                    </td>

                                </tr>
                            </table>
                            <a th:href="@{formCity}" style="border-radius: 25px"
                               class="btn btn-block btn-outline-success mb-3">Ajouter</a>
                        </div>
                        <ul class="nav nav-pills justify-content-center">
                            <li th:each="page,status:${pages}">
                                <a style="border-radius: 50px"
                                   th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                                   th:href="@{cities(page=${status.index},size=${size},name=${name})}"
                                   th:text="${status.index}+1">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
