<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-primary" th:href="@{home}">HamidLiv</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">


            <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navnav" data-toggle="dropdown">
                    Espace E-commerçant
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/formVendor}">Inscription</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navnav1" data-toggle="dropdown">
                    Espace E-commerçant
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item" th:href="@{/vendors}">Demandes De
                        Livraision</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_VENDOR')">
                <a class="nav-link dropdown-toggle" href="#" id="navnav3" data-toggle="dropdown">
                    Espace E-commerçant
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/deliveryRequests}">Mes
                        Demandes De Livraison</a>
                    <a class="dropdown-item" th:href="@{/deliveries}">Mes
                        Livraisons</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navnav5" data-toggle="dropdown">
                    Espace Livreur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/formDeliveryGuy}">Inscription</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_LIVREUR')">
                <a class="nav-link dropdown-toggle" href="#" id="navnav7" data-toggle="dropdown">
                    Espace Livreur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/toBeDelivered}">Colis à
                        livrer</a></div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navnav2" data-toggle="dropdown">
                    Espace Livreur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/deliveryMen}"
                    >Livreurs</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black-50" th:href="@{/cities}" sec:authorize="hasRole('ROLE_ADMIN')">Villes</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav float-right">
        <span sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle btn btn-primary text-white" href="#" id="navbardrop"
                   data-toggle="dropdown">
                    <span sec:authentication="name"></span>
                </a>
                    <div class="dropdown-menu mr-5" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/profile}"
                           sec:authorize="hasRole('ROLE_VENDOR')">Profile</a>
                        <a class="dropdown-item" th:href="@{/profileLivreur}" sec:authorize="hasRole('ROLE_LIVREUR')">Profile</a>
                        <a class="dropdown-item " th:href="@{/logout}">Se Déconnecter</a>
                    </div>
                </li>
            </span>
        <span sec:authorize="!isAuthenticated()">
            <li class="nav-item active">
                    <a class="nav-link btn btn-success text-white" th:href="@{login}">Se connecter</a>
            </li>
        </span>
    </ul>
</nav>

<div class="mx-3">
    <section layout:fragment="content">
    </section>
</div>

</body>
</html>
